.fire {
   background: #f12711; /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, #f5af19, #f12711); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to top,
      #f5af19,
      #f12711
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;

   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}

.water  {
   background: hsla(217, 100%, 50%, 1);

   background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

   background: -moz-linear-gradient(
      90deg,
      hsla(217, 100%, 50%, 1) 0%,
      hsla(186, 100%, 69%, 1) 100%
   );

   background: -webkit-linear-gradient(
      90deg,
      hsla(217, 100%, 50%, 1) 0%,
      hsla(186, 100%, 69%, 1) 100%
   );

   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}

.grass {
   background: #1d976c; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #93f9b9, #1d976c); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to right,
      #93f9b9,
      #1d976c
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;

   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}

.bug {
   background: #52c234; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #061700, #52c234); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to right,
      #061700,
      #52c234
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   border-radius: 20px;

   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}

.poison {
   background: #ff0099; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #493240, #ff0099); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to right,
      #493240,
      #ff0099
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;

   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}

.fighting {
   background: #3e5151; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #decba4, #3e5151); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to right,
      #decba4,
      #3e5151
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.rock {
   background: #3c3b3f; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #605c3c, #3c3b3f); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to right,
      #605c3c,
      #3c3b3f
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.normal {
   background: hsla(265, 53%, 29%, 1);

   background: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);

   background: -moz-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);

   background: -webkit-linear-gradient(
      90deg,
      hsla(265, 53%, 29%, 1) 0%,
      hsla(24, 93%, 73%, 1) 100%
   );

   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#432371", endColorstr="#FAAE7B", GradientType=1 );

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.flying {
   background: hsla(175, 79%, 63%, 1);

   background: linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

   background: -moz-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

   background: -webkit-linear-gradient(
      90deg,
      hsla(175, 79%, 63%, 1) 0%,
      hsla(82, 96%, 57%, 1) 100%
   );

   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#57EBDE", endColorstr="#AEFB2A", GradientType=1 );

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.electric {
   background: #fffc00; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #ffffff, #fffc00); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to left,
      #ffffff,
      #fffc00
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.ground {
   background: hsla(50, 57%, 47%, 1);

   background: linear-gradient(90deg, hsla(50, 57%, 47%, 1) 0%, hsla(56, 83%, 82%, 1) 100%);

   background: -moz-linear-gradient(90deg, hsla(50, 57%, 47%, 1) 0%, hsla(56, 83%, 82%, 1) 100%);

   background: -webkit-linear-gradient(90deg, hsla(50, 57%, 47%, 1) 0%, hsla(56, 83%, 82%, 1) 100%);

   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BDA734", endColorstr="#F7F2AB", GradientType=1 );

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.dragon {
   background: hsla(192, 96%, 50%, 1);

   background: linear-gradient(90deg, hsla(192, 96%, 50%, 1) 0%, hsla(65, 92%, 54%, 1) 100%);

   background: -moz-linear-gradient(90deg, hsla(192, 96%, 50%, 1) 0%, hsla(65, 92%, 54%, 1) 100%);

   background: -webkit-linear-gradient(
      90deg,
      hsla(192, 96%, 50%, 1) 0%,
      hsla(65, 92%, 54%, 1) 100%
   );

   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#05C9F9", endColorstr="#E5F61B", GradientType=1 );
   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.dark {
   background: #485563; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #29323c, #485563); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to left,
      #29323c,
      #485563
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.ice {
   background: #2980b9; /* fallback for old browsers */
   background: -webkit-linear-gradient(
      to top,
      #ffffff,
      #6dd5fa,
      #2980b9
   ); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to top,
      #ffffff,
      #6dd5fa,
      #2980b9
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.fairy {
   background: #ff00cc; /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, #333399, #ff00cc); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to top,
      #333399,
      #ff00cc
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.psychic {
   background: #fdfc47; /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, #24fe41, #fdfc47); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to top,
      #24fe41,
      #fdfc47
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.steel {
   background: #283048; /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, #859398, #283048); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to top,
      #859398,
      #283048
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
.ghost {
 background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(190,190,215,0.8295693277310925) 35%, rgba(54,63,65,1) 100%);

   border-radius: 20px;
   width: 100%;
   height: 160px;
   border-bottom-left-radius: 150px;
   border-bottom-right-radius: 150px;
}
